<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://images.complex.com/complex/images/c_fill,dpr_auto,f_auto,q_auto,w_1400/fl_lossy,pg_1/ic7defqune831dh9orwm/memoji-2?fimg-client-default" class="card-img-top">
      <div class="card-body">
        <h2>Mohammad Husen Ali</h2>
        <h4 class="card-title">About Me:</h4>

        <p class="card-text">A thorough, goal-oriented worker,
          with fast learning ability and strong motivation for professional and personal development.
          Strong orientation towards work in an advanced technological environment that will fully utilize my effective and developed learning ability.
       </p>
      </div>
    </div>
  </div>

  <div class="card border-dark mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Link to my applications</h5>
    <form action="https://github.com/MohammedAli1994">
    <button type="submit"class="btn"><i class="fab fa-github" style="font-size: 50px"></i></button>
    <br/><br>
    <h6>Skills :</h6>
    <p class="card-text">ReactJS - NodeJS - AngularJS - HTML - CSS - JavaScript -Boostrapt - PHP -
       MongoDB - MySQL - PhpMyAdmin - Xcode - PhpMyAdmin -Android Studio - Java - Firebase - jQuery - Swift - Ruby - Ruby in Rails</p>
  </div>
</div>

  </div>
